{% extends 'base.html' %}

{% block title %}ADMIN - {{username}}{% endblock %}

{% block user_auth %}
<div class="d-flex align-items-center">
    <a href="{{ url_for('app.index') }}" type="button" class="btn btn-outline-danger me-3 text-decoration-none">
        Sign Out
    </a>
</div>
{% endblock %}

{% block navbar_options %}
    <!-- Left links -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="#">Actions</a>
        </li>
    </ul>
    <!-- Left links -->
    
    {# Full-text search functionality for the products on the website #}
    <div class="d-flex form-outline w-50">
        <form action="#" method="#" class="d-flex">
            <input class="form-control w-100 me-2" type="text" placeholder="Groceries">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
{% endblock %}

{% block content %}
    <h1>
        Welcome Admin - {{ username }}
    </h1>    
{% endblock %}

