{% extends 'base.html' %}

{% block title %} {{username}} {% endblock %}

{% block user_home %}
<a href="{{ url_for('user.user_page', username=username) }}" class="navbar-brand">
    <img src="{{ url_for('static', filename='images/Brand-image.svg') }}" height="40" width="40">
    GroceryStore
</a>
{% endblock %}

{# should contain the navigation options on a page on the navigation bar #}
{% block navbar_options %}

{% endblock %}

{# search bar for the page can be hidden or shown #}
{% block nav_search %}
<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
{% endblock %}

{% block nav_auth_options %}
<div class="d-flex align-items-center px-3">
    

    <a href="{{ url_for('auth.signout') }}" type="button" class="btn btn-outline-success me-3 text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
    </a>
</div>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer_admin %}
<div class="row p-3">
    <div class="col-8 text-start">
        <a class="btn btn-outline-success" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            CATEGORIES
        </a>
    
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">CATEGORIES</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
    
                <ul class="list-group">
                    {% for item in data["category"] %}  
                    <li class="list-group-item d-flex justify-content-between align-items-center btn btn-outline-success m-1">
                        {{ item.name }}
                        <span class="badge bg-success rounded-pill">14</span>
                    </li>
                    {% endfor %}
                </ul>
    
            </div>
        </div>
    </div>

    <div class="col-4 text-end">
        <a href="{{ url_for('auth.signout') }}" type="button" class="btn btn-outline-danger me-3 text-decoration-none">
            Sign Out
        </a>
    </div>
</div>
{% endblock %}

