{# SIGN UP PAGE #}

{% extends 'base.html' %}

{% block title %}
    SIGN UP
{% endblock %}

{% block user_auth %}
<div class="d-flex align-items-center">
    <a href="{{ url_for('auth.signin') }}" type="button" class="btn btn-dark px-3 me-2 text-decoration-none">
        Sign in
    </a>
</div>
{% endblock %}

{% block navbar_options %}
    <!-- Left links -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="#">Categories</a>
        </li>
    </ul>
    <!-- Left links -->
    
    {# Full-text search functionality for the products on the website #}
    <div class="d-flex form-outline w-50">
        <form action="#" method="#" class="d-flex">
            <input class="form-control w-100 me-2" type="text" placeholder="Groceries">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
{% endblock %}

{% block content %}
    <h1 class="p-3">
        User Sign Up
    </h1>

    <hr>

    <form action="{{ url_for('auth.signup') }}" method="post" novalidate>
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {# Name row #}
            <div class="row py-2 align-items-center justify-content-center">
                <div class="col-4">
                    {{ form.name(size=50, placeholder='Full Name') }}
                </div>
            </div>

            {# Username row #}
            <div class="row py-2 align-items-center justify-content-center">
                <div class="col-4">
                    {{ form.username(size=50, placeholder='Username') }}
                </div>
            </div>

            {# Email row #}
            <div class="row py-2 align-items-center justify-content-center">
                <div class="col-4">
                    {{ form.email(size=50, placeholder='Email') }}
                </div>
            </div>

            {# Contact row #}
            <div class="row py-2 align-items-center justify-content-center">
                <div class="col-4">
                    {{ form.contact(size=50, placeholder='Contact Number') }}
                </div>
            </div>

            {# Password row #}
            <div class="row py-2 align-items-center justify-content-center">
                <div class="col-4">
                    {{ form.password_hash(size=50, placeholder='Password') }}
                </div>
            </div>

            {# Flashing the error message if Login fails #}
            
            {# flashing ERROR messages #}
            {% with messages = get_flashed_messages(category_filter=["ERROR"]) %}
                {% if messages %}
                    <ul class="container">
                        {% for message in messages %}
                            <div class="alert alert-danger align-center" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            
            {# flashing SUCCESS messages #}
            {% with messages = get_flashed_messages(category_filter=["SUCCESS"]) %}
                {% if messages %}
                    <ul class="container">
                        {% for message in messages %}
                            <div class="alert alert-success align-center" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {# Submit row #}
            <div class="row py-2 align-items-center justify-content-center">
                <div class="col">
                    {{ form.submit() }}
                </div>
            </div>
        </div>
    </form>
{% endblock %}


{% block footer_admin %}
<div class="text-end p-3">
    <a href="{{url_for('admin.admin_signin')}}" class="text-decoration-none btn btn-outline-success">
        Admin
    </a>
</div>
{% endblock %}