<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navbar">
        <a href="{{url_for('auth.signin')}}">
            SIGN IN
        </a>

        <a href="{{url_for('auth.signup')}}">
            SIGN UP
        </a>
    </div>

    <hr>

    <h1>
        Hello, World!!
    </h1>

    <hr>

    <h2>
        {% block content %} {% endblock %}
    </h2>
</body>
</html>